Bookvoed_WCF/Client/Service References/BookvoedService/BookvoedService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookvoedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58863/BookvoedService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58863/BookvoedService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58863/BookvoedService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bookvoed_WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookvoedService_getBookById_InputMessage">
    <wsdl:part name="parameters" element="tns:getBookById" />
  </wsdl:message>
  <wsdl:message name="IBookvoedService_getBookById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBookByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBookvoedService_getBookByKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:getBookByKeyword" />
  </wsdl:message>
  <wsdl:message name="IBookvoedService_getBookByKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBookByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="IBookvoedService_getBookByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:getBookByAuthor" />
  </wsdl:message>
  <wsdl:message name="IBookvoedService_getBookByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBookByAuthorResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookvoedService">
    <wsdl:operation name="getBookById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookvoedService/getBookById" message="tns:IBookvoedService_getBookById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookvoedService/getBookByIdResponse" message="tns:IBookvoedService_getBookById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBookByKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookvoedService/getBookByKeyword" message="tns:IBookvoedService_getBookByKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookvoedService/getBookByKeywordResponse" message="tns:IBookvoedService_getBookByKeyword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBookByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookvoedService/getBookByAuthor" message="tns:IBookvoedService_getBookByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookvoedService/getBookByAuthorResponse" message="tns:IBookvoedService_getBookByAuthor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookvoedService" type="tns:IBookvoedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBookById">
      <soap:operation soapAction="http://tempuri.org/IBookvoedService/getBookById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookByKeyword">
      <soap:operation soapAction="http://tempuri.org/IBookvoedService/getBookByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookByAuthor">
      <soap:operation soapAction="http://tempuri.org/IBookvoedService/getBookByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookvoedService">
    <wsdl:port name="BasicHttpBinding_IBookvoedService" binding="tns:BasicHttpBinding_IBookvoedService">
      <soap:address location="http://localhost:58863/BookvoedService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>