Bookvoed_WCF/Client/Service References/BookvoedService/BookvoedService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58863/BookvoedService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bookvoed_WCF" />
  <xs:element name="getBookById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bookvoed_WCF" minOccurs="0" name="getBookByIdResult" nillable="true" type="q1:dbBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookByKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookByKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bookvoed_WCF" minOccurs="0" name="getBookByKeywordResult" nillable="true" type="q2:dbBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookByAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookByAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Bookvoed_WCF" minOccurs="0" name="getBookByAuthorResult" nillable="true" type="q3:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>